org: renadroid
service: api-usuarios

package:
  individually: true
  excludeDevDependencies: true

provider:
  name: aws
  runtime: java17
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::225780680996:role/LabRole
  environment:
    TABLE_NAME: ${sls:stage}-usuarios

functions:
  api:
    handler: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest
    package:
      artifact: target/function.zip
    events:
      - http:
          path: /
          method: ANY
          cors: true
          integration: lambda
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
          integration: lambda

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: email-index
            KeySchema:
              - AttributeName: email
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

